/* style.css */

/*Fond sombre pour reposer les yeux */
body {
    background-color: #1e1e1e;
    color: #eeeeee;
    font-family: Arial, sans-serif;
    padding: 20px;
}

input, select {
    background-color: #333;
    color: white;
    border: 1px solid #666;
    padding: 5px;
}

/* Tableau enstyle lisible */
table {
    width: 100%;
    border-collapse: collapse; /* Supprime les double bordure */
    margin-top: 10px;
}

/* Cellule du tableau */
td {
    padding: 6px;
    border: 1px solid #666;
    text-align: left;
}

/* En-tête de tableau */
th {
    background-color: #444;
    padding: 6px;
    border: 1px solid #666;
    text-align: left;
}

/*Lignes paires plus clair our plus de lisibilité */
tbody tr:nth-child(even) {
    background-color: #2a2a2a; 
}

/* Ligne séparatrice avec nomOnglet */
.ligne-separatrice td {
    font-weight: bold;
    background-color: #222;
    color: white;
    text-align: center;
}

/* Bouton Modifier / Valider */
button {
    background-color: #444;
    color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #555;
}

#btnAjouter, #btnTelecharger {
    display: none; /* Caché par defaut */
}
