/* style.css */

/*Fond sombre pour reposer les yeux */
body {
    background-color: #1e1e1e;
    color: #eeeeee;
    font-family: Arial, sans-serif;
    padding: 20px;
}

input, select {
    background-color: #333;
    color: white;
    border: 1px solid #666;
    padding: 5px;
}

/* Tableau enstyle lisible */
table {
    width: 100%;
    border-collapse: collapse; /* Supprime les double bordure */
    margin-top: 10px;
}

/* Cellule du tableau */
td {
    padding: 6px;
    border: 1px solid #666;
    text-align: left;
}

/* En-tête de tableau */
th {
    background-color: #444;
    padding: 6px;
    border: 1px solid #666;
    text-align: left;
}

/*Lignes paires plus clair our plus de lisibilité */
tbody tr:nth-child(even) {
    background-color: #2a2a2a; 
}

/* Ligne séparatrice avec nomOnglet */
.ligne-separatrice td {
    font-weight: bold;
    background-color: #222;
    color: white;
    text-align: left;
    padding-left: 15%;
}

/* Bouton Modifier / Valider */
button {
    background-color: #444;
    color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #555;
}

#btnAjouter, #btnTelecharger {
    display: none; /* Caché par defaut */
}

@media (max-width: 768px) { /* Condition : taille jusqu'a 768px*/
    table thead {
        display: none; 
    }

    table, tbody, tr, td {
        display: block;
        width: 100%; /* Prend toutes la largeur */
    }

    tr {
        margin-bottom: 1rem; /* Magin: espace autour, bottom: en dessous */
        border: 1px solid #ccc;
        border-radius: 8px; /* Arrondi les bord des coins */
        padding: 15px; /* padding: espace interieur entre contenu et bordure */
        background: #1e1e1e;
        box-sizing: border-box;
    }

    td {
        display: block;
        width: 100%; /* Prends toutes la largeur de la carte */
        box-sizing: border-box; /* Inclut le padding dans la largeur */
        text-align: left;
        position: relative; /* Element ref a ceux absolut */
        padding-left: 35%; /* Décalle contenu de 35% de la case sur la gauche */
        padding-right: 10px;
        margin-bottom: 6px;
        /* min-height: 24px; */
    }

    td::before { /* ajoute contenu avant le contenu reel */
        content: attr(data-label); /* attr(): récuperer la valeur d'un attribut HTML */
        position: absolute; /* se positionne par rapport aux element relatifs */
        left: 10px;
        width: 40%;
        font-weight: bold;
        text-align: left;
        box-sizing: border-box;
    }

    td:empty::after { /* empty: si c'est vide appliquer ce qui suit */
        content: "-";
        color: #777;
    }
}
